body{

    background-size: cover;

}

.header{

    width: 100%;

    font-size: 23px;

}

.Note{

    font-size: 18px;

    color: black;

}

.Disk{

    width: 200px;

    border-radius: 100px;

}

.speed{

    float: left;

    padding: 10px;

}

.ssppeedd{

    width: 100px;

    font-size: 20px;

}

.volume{

    float: right;

    padding: 10px;

}

.vvoolluummee{

    width: 110px;

    font-size: 20px;

}

.Play{

    width: 100px;

    font-size: 20px;

}